$grid-columns: 12;
$grid-gutter: 30px;

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1800px;

$container-sm: 100%;
$container-md: 100%;
$container-lg: $screen-lg - $grid-gutter;
$container-xl: $screen-xl - $grid-gutter;
$container-xxl: $screen-xxl - $grid-gutter;
