{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "babel",
    "@typescript-eslint",
    "react"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6":     true,
    "browser": true,
    "node":    true
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "no-extra-parens": "error",
    "max-len": ["error", { "code": 100 }],
    "no-multi-spaces": "error",
    "no-console": "off",
    "react/prop-types": "off",
    "react/no-set-state": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
